

/* ******************************RESET**************************** */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

/****************************FIN DE RESET**************************/

body{
  font-family: 'Montserrat', sans-serif;
}

.section{
  padding:10%
}

/* NAVBAR STYLES */

.hamburguer-menu{
  display: none;
}

.navbar{
  position: fixed;
  width: 100vw;
  height: 15vh;
  padding: 0 0 0 2%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-item{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-item{
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.link-item:hover{
  background-color: rgb(253, 213, 44);
  color: white;
}
.logo-cont{
  width: 10%;
  height: 100%;
  background-image: url("../imgs/firmablanca.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* NAVBAR STYLES FIN*/

/* HERO STYLES */
.hero{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("../imgs/muro.jpg");
  background-position: center center;
  background-size: cover;
}

.container{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container{
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title{
  margin-bottom: 4%;
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-text{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2em;
  line-height: 1.5em;
}
/* HERO STYLES FIN */

/* CARDS STYLES */
.card-section{
  height: 50vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container{
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: 25%;
  padding: 5% 2% 5% 2%;
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img{
  width: auto;
  height: auto;
  padding: 5%;
  text-align: center;
  color: rgb(253, 213, 44);
  border: 5px solid rgb(253, 213, 44);
  border-radius: 50%;
}

.card-text{
  text-align: center;
  line-height: 1.8em;
}

.card-title{
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 2em;
  font-weight: bold;
}

.card-btn{
  width: 50%;
  margin: 10% auto 0 auto;
  padding: 2%;
  text-decoration: none;
  color: rgb(253, 213, 44);
  border: 2px solid rgb(253, 213, 44);
  border-radius: 5px;
  display: block;
  transition: 0.3s;
}

.card-btn:hover{
  background-color: rgb(253, 213, 44);
  color: #fff;
}
/* CARDS STYLES FIN */

/* CALLTOACTION STYLES */
.calltoaction{
  height: 50vh;
  background-color: rgb(40, 40, 40);
  color: rgb(253, 213, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calltoaction-text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calltoaction-text h2{
  margin-bottom: 2%;
  font-size: 4em;
  font-weight: bold;
}
.calltoaction-text p{
  padding-right: 5%;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
}

.calltoaction-btn{
  padding: 2%;
  margin-top: 2%;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(253, 213, 44);
  color: #fff;
  display: block;
  transition: 0.3s;
}

.calltoaction-btn:hover{
  background-color: #fff;
  color: rgb(253, 213, 44);;
}
/* CALLTOACTION STYLES FIN */

/* COMMENTS STYLES */
.comments{
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comments-title{
  margin-bottom: 1%;
  font-size: 4em;
  font-weight: bold;
}

.comments-subtitle{
  margin-bottom: 3%;
  font-size: 2em;
  text-align: center;
}

.comments-grid{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.comment{
  width: 30%;
  height: 20%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.comment-head{
  width: 100%;
  padding: 5% 0;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  background-color:rgb(253, 213, 44);
  color: white;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
}

.comment-head h3, .comment-head p{
  margin-left: 5%;
  margin-right: 5%;
}

.comment-body{
  width: 95%;
  padding: 2% 0 2% 5%;
  font-style: italic;
  line-height: 1.8em;
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 0 0 15px 15px;
}
/* FIN COMMENTS STYLES */

/* FORM STYLES */
.formContainer{
  height: 50vh;
  text-align: center;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-title{
  margin-bottom: 1%;
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.form-text{
  margin-bottom: 3%;
  font-size: 2em;
  color: white;
}

.form{
  width: 50vw;
  padding: 3% 0% 0 0%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs, .form-msg{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs{
  margin-bottom: 10%;
  flex-direction: row;
  justify-content: space-between;
}

.inputs div{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-msg{
  align-items: flex-start;
}

label{
  margin-top: 5px;
  font-size: 0.8em;
  text-align: left;
  color: red;
}


.input, .textarea, .input-select, .form-btn{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  border: none;
  border-bottom: 3px solid rgb(40, 40, 40);;
  outline: none;
  
}

.form-msg{
  height: 200%;
}

.textarea{
  height: 100%;
  resize:none;
}

.input:focus, .input-select:focus, .textarea:focus{
  border-bottom: 3px solid rgb(253, 213, 44);
}


.form-btn{
  margin-top: 5%;
  padding: 2%;
  font-weight: bold;
  background-color: rgb(253, 213, 44);
  color: white;
  border: none;
  border-radius: 0px 0px 15px 15px;
  transition: 0.3s;
}

.form-btn:hover{
  background-color: white;
  color: rgb(253, 213, 44);
  cursor: pointer;
}

.respuesta_form{
  margin-top: 2%;
  font-size: 1.5em;
  color: rgb(253, 213, 44);
}
/* FORM STYLES FIN */

/* FOOTER STYLES */
.footer{
  width: 100%;
  height: 30vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes-section, .copyright{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.redes-section div{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-icon{
  font-size: 2em;
  color: rgb(253, 213, 44);
  cursor: pointer;
  transition: 0.3s;
}

.red-icon:hover{
  font-size: 3em;
  color: white;
}

.copyright{
  width: 50%;
  padding-right: 2%;
  font-size: 1em;
  line-height: 2em;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

::-webkit-scrollbar {display: none;}

@media (max-width: 767px){
  .section{
    height: fit-content;
  }
  .menu{
    display: none;
  }
  .hamburguer-menu{
    width: 30%;
    padding-right: 5%;
    font-size: 3em;
    color: rgb(253, 213, 44);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .hero-title{
    font-size: 3em;
  }
  .hero-text{
    font-size: 1.5em;
  }
  .card-section{
    background-color: white;
    background-image: none;
  }
  .cards-container{
    flex-direction: column;
  }
  .card{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .calltoaction{
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .calltoaction-text h2{
    font-size: 2em;
  }
  .calltoaction-text p{
    font-size: 1em;
  }

  .comments-grid{
    flex-direction: column;
  }

  .comment{
    width: 100%;
    margin-top: 5%;
  }

  .comment-head{
    padding: 5% 0;
    justify-content: space-around;
  }

  .form-title{
    margin-bottom: 5%;
    font-size: 2em;
  }
  .form-text{
    margin-bottom: 5%;
    font-size: 1em;
  }
  .form{
    width: 90%;
  }
  .inputs{
    margin-bottom: 0;
    flex-direction: column;
  }
  .input, .input-select, .textarea{
    width: 100%;
    margin-bottom: 10%;
    font-size: 1em;
  }

  .inputs div{
    width: 100%;
  }

  .footer{
    flex-direction: column;
  }

  .redes-section, .copyright{
    width: 90%;
    padding: 0;
  }
  .red-icon{
    font-size: 3em;
  }

  .red-icon:hover{
    font-size: 3em;
  }

  .copyright{
    font-size: 1em;
    text-align: center;
  }
}